root = true

# Especifica quais arquivos deverão seguir as identação, devem estar dentro do colchete
# O '*' deixa as alterações de maneira global
# Para identificar arquivos no geral, pode usar a extensão dos arquivos (.js, .css, .html, .tsx, etc.)
[*]
# Tipo da identação vulgo 'espacinho que dá no codigo ao apertar TAB'
indent_style = space
# Tamanho da identação, neste caso a identação será de dois "espaços" (apertar a tecla de espaço 2x)
indent_size = 2